functions-framework==3.*
google-cloud-firestore==2.16.0
google-auth==2.29.0
requests==2.31.0
firebase-admin
google-cloud-storage
google-cloud-firestore
ffmpeg-python
flask
cryptography==41.0.5
google-cloud-secret-manager==2.20.2